<!-- myfirstvis/templates/pyecharts.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Proudly presented by PycCharts</title>
    {% for jsfile_name in script_list %}
        <script src="{{ host }}/{{ jsfile_name }}.js"></script>
    {% endfor %}

     <style>
         div{
             border: 1px solid salmon;
         }
     </style>

</head>

<body>
<div style="width: 100px;height: 2500px">

<div>
            {{ time|safe }}
</div>

<div>
    {{ myechart|safe }}
</div>

<div>
        {{ line|safe }}
</div>

    <div>
            {{ edu|safe }}
</div>


<div>
            {{ ciyun|safe }}
</div>

</div>

</body>

</html>