<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>Sticky Footer Navbar Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}" media="all" />
    <style>
        .page-header {
            padding-bottom: 0px;
            margin: -10px 0 20px;
            border-bottom: 1px solid #eee;
        }
        .ltype{
            font-size: 16px;
            margin-bottom: 10px;
        }
    </style>
  </head>

<body>
<!-- 导航条 -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">找工作</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">主页 <span class="sr-only">(current)</span></a></li>
        <li><a>&nbsp;&nbsp;</a></li>
        <li><a href="/user/login/">登录</a></li>
        <li><a>|</a></li>
        <li><a href="/user/regist/">注册</a></li>
      </ul>
    {% if data %}
        <ul class="nav navbar-nav navbar-right">
        <li><img style="border: 1px solid gainsboro;border-radius: 50px;width: 30px;height: 30px;
                            margin-top: 7px;margin-left: 150px;"
                         src="/static/upload/{{ data.photo }}"></li>
        <li><a href="#">{{ data.username }}</a></li>
        <li role="presentation"><a href="/user/logout/">退出</a></li>
      </ul>
    {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <!-- Begin page content -->
    <div class="container">
      <div class="page-header">
            <h1 style="font-size: 35px">{{ job.job_comname }}</h1>
      </div>
      <p class="ltype">&nbsp;
        &nbsp;&nbsp;{{ job.company_money }}&nbsp;&nbsp;|
        &nbsp;&nbsp;{{ job.company_time }}&nbsp;&nbsp;|
        &nbsp;&nbsp;{{ job.company_type }}&nbsp;&nbsp;|
        &nbsp;&nbsp;{{ job.company_status }}

      </p>
      <p class="lead" style="line-height: 1.8;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ job.job_gstext }}</p>
    </div>

<!--页脚开始-->
 <div class="foot_txt_box">
    <div class="foot_txt">
        <p>
            注册登录遇到问题？请拨打 4000-168-168<em>|</em><a style="cursor: pointer" target="_blank" onclick="alert('请联系左方电话')">我要提意见</a></p>
        <p>
            CopyRight &copy; 2000-2017 LWL,All Rights Reserved. 版权所有 娟娟科技</p>
        <p>
            电信业务审批[2006]字第92号；经营许可证编号： <a target="_blank" href="">
                京ICP证060175号</a>；公安备案号码：京公网安备 110108901166号；</p>
        <div class="foot_t_r">
            <a target="_blank" style="width: 100px;" class="jjwz" href="http://www.hd315.gov.cn/beian/view.asp?bianhao=010202001041200160">
                经营性网站备案信息
            </a>
            <a target="_blank" style="width: 100px;" class="jftx" href="http://fzp.bjhd.gov.cn/">北京海淀警方提醒</a>
        </div>
    </div>
</div>
<!--页脚结束-->



    <script type="text/javascript" src="{% static 'js/jquery-1.8.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>